.mi-cuenta-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.usuario-info {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
}

.usuario-info h2 {
  margin-bottom: 10px;
}

.botones-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 576px) {
  .mi-cuenta-container {
    flex-direction: column;
  }
}
