 .card-body-programador{
    border: 1px solid #ccc;
    padding: 16px;
    display: flex;
    align-Items: center;
    gap: 16px;
    margin: 2% auto;
    max-width: 80vw;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .imagen-programador {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
  }
  .content-programador {
    flex: 1;
  }
  .name-programador{
    margin: 0;
  }
  .age-programador{
    margin: 0;
    color: #888;
  }

  @media (max-width: 576px) {
    .name-programador{
      font-size: 18px;
    }
    .imagen-programador {
      width: 60px;
    height: 60px;
    }
  }