#root {
  display: block;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw !important;
}
body {
  width: 200px !important;
}

.banner {
  object-fit: cover;
  height: 395px;
  width: 100vw;
}

.minHeader {
  min-height: 65vh;
}
